* {
    color: white;
    background-color: black;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

body {
    font-size: 2rem;
}

img {
    height: auto;
    width: auto;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textcenter {
    text-align: center;
}