html{
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

body {
    font-size: 2rem;
    color: white;
    background: linear-gradient(180deg, rgb(34, 34, 34) 10%, rgb(0, 0, 0) 100%);
}

img {
    height: auto;
    width: auto;
}

/* ul {
    display: flex;
    flex-flow: row wrap;
}

li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
} */

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textcenter {
    text-align: center;
}